                  <div class="tab-pane" id="alacarte">
                    <h2 id="overview" class="page-header"><span class="text-danger">A la Carte</span></h2>
                    <p class="lead">Seafood, chicken and meat, udon and soba, rice, tofu, soup, salads, vegetables.  Prices subject to change.</p>

                    <div class="row">
                         <div class="col-md-12">
                            <div class="row">
                            <div class="col-md-4">
                              <h3><span class="text-danger">Seafood</span></h3>
                            </div>
                          </div>
                    </div>
                  </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Shiro Maguro Tataki</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$15.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Lightly seared albacore sashimi with ponzu & daikon</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Poki Salad</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$15.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Cubes of albacore sashimi with sesame oil, chili sauce, garlic & soy</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Sake Tataki</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$19.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Lightly seared salmon sashimi with ponzu & daikon</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Shumai</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$7.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Steamed shrimp dumplings</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Calamari Yaki</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$16.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Grilled giant squid </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Ika Fry</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$13.00</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Battered & fried Monterey squid with wasabi tartar </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Hamachi Kama Yaki</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$16.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Grilled yellowtail collar, served with ponzu  </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Hotate Tempura</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$12.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Scallop & veg. fritters</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Kaki Fry</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$14.25</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Breaded & fried oysters  </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Saikyo Yaki</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$23.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Broiled Alaskan Black Cod marinated with miso & sake</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Kaba Yaki</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$16.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Grilled eel with broccoli</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Soft Shell Crab</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$17.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Fried, with cole slaw</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Scallop Battayaki</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$17.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Butter sautéed, served with a spring salad </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Tempura Appetizer</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$13.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Prawns & vegetables </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3></h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small></small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <h3 class="extra-margin-top"><span class="text-danger">Chicken & Meat</span></h3>
                        </div>
                      </div>
                </div>
              </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Teba</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$8.25</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Grilled chicken wings</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Yakitori</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$8.25</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Grilled skewered chicken & scallions with teriyaki sauce </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Chicken Tatsuta</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$8.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bite-size, crispy fried</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                  <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Chicken Tataki</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$11.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Grilled breast meat with ponzu sauce & grated daikon</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Beef Asparamaki</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$10.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Grilled beef wrapped asparagus with teriyaki sauce </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Beef Tataki</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$18.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Blue Rare, seared filet mignon, thinly sliced, served with ponzu & grated daikon sauce</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                  <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Beef Kushi</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$8.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Grilled skewered beef & scallions with teriyaki sauce  </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Gyoza</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$8.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Pan-fried pork potstickers</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <h3 class="extra-margin-top"><span class="text-danger">Udon & Soba</span></h3>
                        </div>
                      </div>
                </div>
              </div>

                  <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Udon</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$14.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Noodle soup with tempura or chicken </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Yaki Soba</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$14.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Pan-fried noodles with bay shrimp or chicken</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Soba</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$14.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Buckwheat noodle soup with tempura or chicken</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Cha Soba</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$14.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Green tea noodle soup with tempura or chicken</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Zarusoba</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$14.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Chilled buckwheat or green tea noodles with dipping sauce, served with tempura</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <h3 class="extra-margin-top"><span class="text-danger">Rice</span></h3>
                        </div>
                      </div>
                </div>
              </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Gohan</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$2.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Steamed rice</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Riceball</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$6.25</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Grilled with special sauce </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Zosui</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$15.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Rice in broth with shrimp, eel, chicken, vegetables & egg  </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <h3 class="extra-margin-top"><span class="text-danger">Tofu</span></h3>
                        </div>
                      </div>
                </div>
              </div>


               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Grilled Tofu</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$7.25</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Grilled tofu with miso sauce</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Yutofu</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$10.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Tofu & vegetables in broth, with dipping sauce  </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Agedashi Tofu</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$8.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Deep-fried with grated daikon & tempura sauce</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Tofu Teriyaki</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$8.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Tofu with teriyaki sauce </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Hiyayakko</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$8.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Cold tofu with dipping sauce </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <h3 class="extra-margin-top"><span class="text-danger">Soup</span></h3>
                        </div>
                      </div>
                </div>
              </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Miso Shiru</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$3.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bean curd soup</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Miso Deluxe</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$8.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">With mushrooms, seaweed, tofu & green onion</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <h3 class="extra-margin-top"><span class="text-danger">Salads</span></h3>
                        </div>
                      </div>
                </div>
                </div>


               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Sunomono</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$6.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Sliced cucumber with vinaigrette</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Sunomono</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$7.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">with Tako</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Sunomono</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$10.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">with Snow Crab</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Horenso Goma Ae</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$7.25</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Chilled steamed spinach with sesame dressing </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Robata House Salad</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$11.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Assorted lettuce with shrimp, cucumber, mushrooms & carrot, choice of dressing</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Tsukemono</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$8.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Assorted Japanese pickles</div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Edamame</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$7.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Steamed soybeans</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Wakame Salad</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$8.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Seaweed marinated in sesame dressing</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <h3 class="extra-margin-top"><span class="text-danger">Vegetables</span></h3>
                        </div>
                      </div>
                </div>
              </div>


               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Onions</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$5.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">with ponzu sauce</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Leeks</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$6.25</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">with ponzu sauce </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Bell Peppers</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$7.25</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">red & green with butter</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Asparagus</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$9.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">with butter</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Mushrooms</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$8.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">with ponzu sauce</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Potato</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$4.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">with butter</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Corn-on-the-Cob</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$4.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">with butter & sweet sake/soy sauce</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Japanese Eggplant</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$9.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">with tempura sauce & grated daikon</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Broccoli</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$8.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">with butter</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Shiitake Mushrooms</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$12.25</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">with ponzu sauce </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Dengaku</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$8.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Fried eggplant with miso sauce</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Potato Ball Age</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$8.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Fried potato croquette with cole slaw</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Grilled Veggie Combo</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$16.25</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Corn, broccoli, bell pepper, potato, mushroom & onion</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3></h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small></small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      </div>
