            <div class="tab-pane" id="beverages">
              <h2 id="overview" class="page-header"><span class="text-danger">Beverages</span></h2>


                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <h3 class="extra-margin-top"><span class="text-danger">Hot Sake</span></h3>
                        </div>
                      </div>
                </div>
              </div>


               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Ozeki, Shochikubai & Hakusan </h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Small - $4.25</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Large - $6.5</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Gekkeikan - to go </h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$6.95</small></h3></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-12">
                          <h3 class="extra-margin-top"><span class="text-danger">Cold Sake</span></h3>
                          <h3>Please ask for our list</h3>
                        </div>
                      </div>
                </div>
              </div>


                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <h3 class="extra-margin-top"><span class="text-danger">Beer</span></h3>
                        </div>
                      </div>
                </div>
              </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Sapporo, Asahi Dry & Orion  </h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Small - $4.25</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Large - $6.5</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Kirin draft </h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$4.50</small></h3></div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Clausthauler <br />(non-alcoholic)</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$4.25</small></h3></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <h3 class="extra-margin-top"><span class="text-danger">White Wine</span></h3>
                        </div>
                      </div>
                </div>
              </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Plum wine</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Glass - $5.25</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>St Francis (Chardonnay)</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Glass - $6.75</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bottle - $26.95</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Kenwood (Chardonnay)</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Glass - $7.75</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bottle - $29.95</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Hogue (Fume Blanc)</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Glass - $6.50</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bottle - $24.00</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Silverrado (Sauvignon Blanc)</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Glass - $7.75</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bottle - $29.95</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Cakebread (Chardonnay)</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bottle - $49.95</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <h3 class="extra-margin-top"><span class="text-danger">Red Wine</span></h3>
                        </div>
                      </div>
                </div>
              </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Hess Select (Cabernet Sauvignon)</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Glass - $7.75</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bottle - $29.95</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Valley Of The Moon (Cabernet Sauvignon)</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Glass - $7.50</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bottle - $28.50</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Benziger (Merlot)</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Glass - $8.75</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bottle - $34.50</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Kenwood (Pinot Noir)</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Glass - $8.75</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bottle - $34.50</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <h3 class="extra-margin-top"><span class="text-danger">Soft Drinks</span></h3>
                        </div>
                      </div>
                </div>
              </div>



               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Mineral Water </h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$2.50</small></h3></div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Coke, Diet Coke </h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$1.95</small></h3></div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Sprite</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$1.95</small></h3></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Ginger Ale</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$1.95</small></h3></div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Iced Tea</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$1.95</small></h3></div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Apple Juice</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$2.50</small></h3></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                </div>
