            <div class="tab-pane" id="beverages">
              <h2 id="overview" class="page-header"><span class="text-danger">Beverages</span></h2>


                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <h3 class="extra-margin-top"><span class="text-danger">Hot Sake</span></h3>
                        </div>
                      </div>
                </div>
              </div>


               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Ozeki, Shochikubai</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Small - $4.95</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Large - $7.95</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Gekkeikan - to go </h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$9.25</small></h3></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-12">
                          <h3 class="extra-margin-top"><span class="text-danger">Cold Sake</span></h3>
                          <h3>Please ask for our list</h3>
                        </div>
                      </div>
                </div>
              </div>


                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <h3 class="extra-margin-top"><span class="text-danger">Beer</span></h3>
                        </div>
                      </div>
                </div>
              </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Asahi, Sapporo</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$4.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">12 oz.</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Asahi, Sapporo, Orion</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$8.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">21 oz.</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Kirin draft</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$4.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">16 oz.</div>
                        </div>
                      </div>
                      </div>
                      <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Sapporo Light</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$4.95</small></h3></div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Asahi Select</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$5.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Amber</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Asahi Dry</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$11.25</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">1 liter can from Japan</div>
                        </div>
                      </div>
                      </div>
                      <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Echigo Malt</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$7.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12"></div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Kirin Free</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$5.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Non-alcoholic</div>
                        </div>
                      </div>
                    </div>
                    </div>
                </div>


                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <h3 class="extra-margin-top"><span class="text-danger">White Wine</span></h3>
                        </div>
                      </div>
                </div>
              </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Plum wine</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Glass - $6.95</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bottle - N/A</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>St Francis</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Chardonnay</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Glass - $7.75</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bottle - $31.00</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Kenwood</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Chardonnay</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Glass - $9.00</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bottle - $35.00</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Terra D'Oro</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Pinot Grigio</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Glass - $7.25</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bottle - $28.50</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Angeline</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12"> Sauvignon Blanc</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Glass - $7.75</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bottle - $29.50</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Sonoma Cutrer</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Chardonnay</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Glass - $9.75</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bottle - $38.50</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <h3 class="extra-margin-top"><span class="text-danger">Red Wine</span></h3>
                        </div>
                      </div>
                </div>
              </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Hess Select</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Cabernet Sauvignon</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Glass - $8.95</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bottle - $35.50</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Bogle</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Petite Sirah</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Glass - $8.75</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bottle - $33.75</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Benziger</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Merlot</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Glass - $10.00</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bottle - $39.75</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Kenwood</h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Pinot Noir</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Glass - $10.00</div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Bottle - $39.75</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <h3 class="extra-margin-top"><span class="text-danger">Soft Drinks</span></h3>
                        </div>
                      </div>
                </div>
              </div>



               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Mineral Water </h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$2.95</small></h3></div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Coke, Diet Coke </h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$2.50</small></h3></div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Sprite</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$2.50</small></h3></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


               <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Ginger Ale</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$2.50</small></h3></div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Iced Tea</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$2.50</small></h3></div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3>Apple Juice</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$2.95</small></h3></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                </div>
