                  <div class="tab-pane" id="entrees">
                    <h2 id="overview" class="page-header"><span class="text-danger">Entrees</span></h2>
                    <p class="lead"></p>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Salmon Teriyaki</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$20.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Grilled fresh Atlantic salmon served with vegetables</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Chicken Teriyaki</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$19.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Grilled skinless breast meat served with vegetables</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Beef Teriyaki - New York</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$23.95</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Grilled New York cut with vegetables</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Japanese Steak</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$27.25</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Grilled filet mignon with ginger sauce & vegetables</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Tonkatsu</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$19.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Breaded pork cutlet, lightly fried with cole slaw</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Chicken Katsu</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$19.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Breaded chicken breast, lightly fried with cole slaw</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Tempura Dinner</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$19.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Large prawns & vegetables, lightly battered & fried</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Vegetarian Dinner</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$17.75</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Grilled broccoli & corn, fried tofu & potato croquette,  served with cole slaw</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Lamb Battayaki</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$19.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Sauteed lamb chops with garlic butter, sake & soy sauce, served with grilled broccoli </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Mahi Mahi Battayaki</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$19.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Sauteed with garlic butter, sake & soy sauce, served with grilled broccoli </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Unajyu</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$19.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Grilled freshwater eel over rice with Japanese pickles</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Beef Sukiyaki</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$19.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Thinly sliced beef with tofu & vegetables </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Chicken Sukiyaki</h3></div>
                          <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$18.50</small></h3></div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">Strips of chicken with tofu & vegetables</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                  </div>
