            <div class="tab-pane" id="lunch">
              <h2 id="overview" class="page-header"><span class="text-danger">Lunch</span></h2>

                <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-12">
                          <h3 ><span class="text-danger">Lunch Entrees</span></h3>
                          <p class="lead">Served with miso soup, green salad & rice</p>
                        </div>
                      </div>
                </div>
              </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Tempura</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$13.50</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Prawns and vegetables</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Chicken Teriyaki</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$13.50</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Grilled breast with teriyaki sauce & vegetables</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Beef Teriyaki</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$15.75</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Grilled New York cut with teriyaki sauce & vegetables  </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Salmon Teriyaki</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$13.50</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Grilled salmon with teriyaki sauce & vegetables</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Seafood & Veg. Saute</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$14.95</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Pan fried shrimp & scallops with vegetables</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Katsu Don</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$13.50</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Breaded pork & egg on rice</div>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Oyako Don</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$12.95</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Chicken, onion & egg on rice</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Gyuniku Don</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$13.50</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Beef, onion & egg on rice  </div>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                          <div class="col-md-12">
                            <h3 class="extra-margin-top"><span class="text-danger">Sashimi Lunch</span></h3>
                            <p class="lead">Served with miso soup & rice </p>
                          </div>
                        </div>
                  </div>
                </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Maguro</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$19.75</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Tuna (8 pcs.)</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Shiro Maguro</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$19.75</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Albacore Tuna (8 pcs.)</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Hamachi</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$19.75</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Yellowtail (8 pcs.)</div>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Sake</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$19.75</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Salmon (8 pcs.)</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Shiromi Usuzukuri</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$21.50</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Seasonal white meat, sliced thinly with ponzu sauce  </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Sashimi Moriawase</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$22.50</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Chef's choice - 12 pieces combination  </div>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                          <div class="col-md-12">
                            <h3 cclass="extra-margin-top"><span class="text-danger">Sushi Lunch</span></h3>
                            <p class="lead">Served with miso soup</p>
                          </div>
                        </div>
                  </div>
                </div>


                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Sushi A - Combination</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$19.25</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">1 California roll & 5 pcs. nigiri sushi (Tuna, yellowtail, salmon, shrimp & white meat fish)</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Sushi B - Combination</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$22.25</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Chef's choice - 10 pcs. nigiri sushi </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

            </div>
