                  <div class="tab-pane" id="sashimi">
                    <h2 id="overview" class="page-header"><span class="text-danger">Makimono</span></h2>
                    <p class="lead">Hosomaki - sushi rolls.  Special Makimono - house specialty sushi rolls. Complete dinner sets to include miso soup, cucumber and shrimp salad and steamed rice for an additional cost.  Prices subject to change.</p>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >California Roll</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$6.25</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Surimi, avocado & cucumber</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >California Roll</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$7.50</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">With snow crab</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Tekka Maki</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$6.75</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Tuna</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Avocado Maki</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$5.75</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Avocado</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Negi Hamachi</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$6.75</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Yellowtail & green onion</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Sake Kawa</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$6.25</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Grilled salmon with skin</div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Rock n' Roll</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$6.95</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Grilled freshwater eel, avocado & cucumber</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Saigon Roll</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$7.75</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Spicy tuna</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Tempura Ebi Roll</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$7.25</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Tempura shrimp</div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Oshinko Maki</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$4.95</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Pickled daikon</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Futomaki</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$8.25</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Big roll (5 pcs.) choice of shrimp, surimi or eel</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Yasai Maki-vegetarian</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$7.25</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Choice of fresh, cooked, or pickeled vegetables</div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Sushi Moriawase - Regular</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$20.50</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Chef's choice - 5 pcs, nigiri, 1 tekka maki</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Sushi Moriawase - Large</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$30.50</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Chef's choice - 8 pcs, nigiri, 1 California roll</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Chirashi Don</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$28.50</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Chef's choice of sashimi over rice</div>
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Moriawase-Deluxe</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>M.P.*</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Chef's choice deluxe combination</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                    <h2 id="overview" class="page-header"><span class="text-danger">Special Makimono</span></h2>
                    <p class="lead">House specialty sushi rolls </p>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Unaten Maki</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$13.95</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Large tempura prawn roll topped with grilled freshwater eel</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >49er Roll</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$14.95</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Avocado & tobiko roll, topped with salmon and  sliced lemon</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Marin Roll</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$16.95</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">King crab & avocado roll, topped with assorted sashimi, & shrimp</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Robata Roll</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$16.95</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Crispy soft shell crab, avocado, cucumber & tobiko roll</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Caterpillar Roll</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$16.95</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Tempura prawn & tobiko roll, topped with grilled eel and avocado</div>
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  </div>
