                  <div class="tab-pane" id="sashimi">
                    <h2 id="overview" class="page-header"><span class="text-danger">Sashimi</span></h2>
                    <p class="lead">Sashimi - sliced raw fish and shellfish, 5 and 10 piece orders.  Special Makimono - house specialty sushi rolls. Complete dinner sets to include miso soup, cucumber and shrimp salad and steamed rice for an additional cost.  Prices subject to change.</p>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Maguro</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$13.95</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Tuna</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Shiro Maguro</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$13.95</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Albacore Tuna</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Hamachi</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$13.95</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Yellowtail</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Sake</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$13.95</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Salmon</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Moriawase-Regular</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$29.25*</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Chef's choice combination, 12 pcs.</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Moriawase-Large</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$43.95*</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Chef's choice combination, 20 pcs.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Moriawase-Deluxe</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>M.P.*</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Chef's choice deluxe combination</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                    <h2 id="overview" class="page-header"><span class="text-danger">Special Makimono</span></h2>
                    <p class="lead">House specialty sushi rolls </p>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Unaten Maki</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$13.50</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Large tempura prawn rolled in rice & seaweed,  topped with grilled freshwater eel.</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >49-er Roll</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$14.25</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Avocado & tobiko roll, topped with salmon and  sliced lemon.</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Marin Roll</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$16.75</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Snow crab & avocado roll, topped with assorted sashimi, cooked shrimp & avocado .</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Robata Roll</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$16.75</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Crispy soft shell crab, avocado, cucumber & tobiko roll.</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-6"><h3 >Caterpillar Roll</h3></div>
                            <div class="col-md-4 col-sm-6 col-xs-6"><h3><small>$16.75</small></h3></div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Tempura prawn & tobiko roll, topped with grilled eel and avocado.</div>
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  </div>
