<div class="tab-pane active" id="sushi">
  <h2 id="overview" class="page-header">
    <span class="text-danger">Sashimi</span>
  </h2>
  <p class="lead">
    Sashimi - sliced raw fish and shellfish, 5 and 10 piece orders. Complete
    dinner sets to include miso soup, cucumber and shrimp salad and steamed rice
    for an additional cost. Prices subject to change.
  </p>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Maguro</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$19.25/34.50</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Tuna</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Shiro Maguro</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$19.25/34.50</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Albacore Tuna</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Hamachi</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$19.25/34.50</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Yellowtail</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Sake</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$19.25/34.50</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Salmon</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6">
              <h3>Moriawase-Regular</h3>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$40.00*</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Chef's choice combination, 12 pcs.</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6">
              <h3>Moriawase-Large</h3>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$60.00*</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Chef's choice combination, 20 pcs.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3></h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small></small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 id="overview" class="page-header">
    <span class="text-danger">Sushi</span>
  </h2>
  <p class="lead">
    We offer sushi nigiri - sliced fish on rice, 2 pieces. Sushi temaki -
    seaweed wrapped hand roll, 1 piece. Hosomaki - seafood and/or vegetables in
    sushi roll, 6 pieces. Prices subject to change.
  </p>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Maguro</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$8.95</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Tuna</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Shiro Maguro</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$8.95</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Albacore Tuna</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Hamachi</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$8.95</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Yellowtail</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Sake</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$8.95</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Salmon</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Smoked Sake</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$9.25</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Smoked Salmon</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Kani</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$8.95</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Crab</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Unagi</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$8.95</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Fresh Water Eel</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Anago</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$8.95</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Sea Eel</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Ikura</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$8.95</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Salmon Roe</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Tobiko</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$8.95</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Flying Fish Roe</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Hotate</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$9.95</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Scallop</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Uni</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>M.P.</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Sea Urchin Roe</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Ebi</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$8.50</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Shrimp</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Amaebi</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$10.75</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Raw Sweet Shrimp</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Hirame</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$9.75</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Halibut</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Mirugai</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>M.P.</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Geoduck Clam</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Tako</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$7.75</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Octopus</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Ika</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$8.50</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Squid</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Saba</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$8.50</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Mackerel</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Tamago</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$6.75</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Egg Omelette</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Inari</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$6.25</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Fried Tofu Pouch</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-6"><h3>Uzura</h3></div>
            <div class="col-md-4 col-sm-6 col-xs-6">
              <h3><small>$1.95</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">Quail Egg, 2 pcs</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
