/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html{
     height:100%;
     min-height:100%;
     }

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  min-height:100%;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar {
  margin-bottom: 0px;
}

.navbar-default {
background-color: #fff;
border-color: #fff;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
margin-left: 5px;
}

.navbar-brand{
  padding: 0px;
}

.navbar-brand img{
  width: 74px;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: #333;
}

.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: #fff;
color: rgba(51, 51, 51, .5);
}

/* CUSTOMIZE THE PARALLAX
-------------------------------------------------- */
.parallax-container{
  position: relative;
}

.shadow{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  -moz-box-shadow: inset 0 -260px 260px -80px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 -260px 260px -80px rgba(0,0,0,0.5);
  box-shadow: inset 0 -260px 260px -80px rgba(0,0,0,0.5);
}

  .parallax-container address{
    bottom: 0px;
    color: #fff;
    display: block;
    position: absolute;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    z-index: 1;
  }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 50px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  font-size: 63px;
  left: auto;
  right: auto;
  text-align: left;
  z-index: 10;
}

.carousel-caption h2{
  font-size: 63px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  background-color: #777;
}

.slide1{
  background: url('../images/sushi1small.jpg') no-repeat;
  height: 500px;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
-webkit-background-size: cover;
  position: inherit;
}

.slide2{
  background: url('http://static.squarespace.com/static/515c7b5ae4b0875140c3d94a/t/51ddd0fbe4b08840dcfa63df/1373491483003/IMG_5693-Edit.jpg') no-repeat;
width: 100%;
height: 500px;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center 0;
background-size: cover;
-moz-background-size: cover;
-webkit-background-size: cover;
-wwebkit-backface-visibility:hidden
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  margin-top: 80px;
  padding-right: 15px;
  padding-left: 15px;
  position: static;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.featurette-divider:last-child{
  margin-bottom: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

.navbar-brand img{
  width: 105px;
}

.navbar-default .navbar-nav>li>a {
  padding-top:28px;
  padding-bottom: 28px;
}

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 35px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .navbar-wrapper .navbar-fixed-top{
    border-radius: 0px;
  }

 .navbar-wrapper .navbar-fixed-top .navbar-brand{
    margin-top: 0px;
 }

 .navbar-wrapper .navbar-fixed-top .navbar-brand img{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
 }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 60px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 0px;
  }
}

@media (min-width: 767px) {
.slide1{
  background: url('../images/sushi1org.jpg') no-repeat;
  height: 500px;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
-webkit-background-size: cover;
  position: static;
}

}
