.menus .page-header{
    margin-top: 0px;
}

.body {
  position: relative;
}
.affix {
  width: inherit; //helped keep the content the same size on fluid layouts
  position: fixed;
  top: 75px;  //height of the nav
}
.affix-bottom {
  width: inherit;
  position: absolute;
  top: auto;
  bottom: 200px;  //height of the footer
}
.affix-top {
  //i didn't need this style but you might
}
