{% extends "base.html" %}

{% block title %}Robata Grill & Sushi{% endblock %}

{% block page_content %}

    <!-- Parallax
    ================================================== -->
  <div class="parallax-container">
    <a class="start" href="#start"><i class="fa fa-chevron-down fa-3x"></i></a>
     <div class="img-holder" data-image="{{ url_for('static', filename='images/Toothpick2.1.jpg') }}" data-image-mobile="{{ url_for('static', filename='images/Toothpick2.1-mobile.jpg') }}" data-width="2000" data-height="1000"></div>
        <div class="carousel-caption">
          <h2>Robata Grill & Sushi<br>
            <small class="robataColor">Past. Present. Future.</small>
          </h2>
        </div>
  </div>
    <!-- /.parallax -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div id="start"></div>
    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Robata <span class="text-danger">Tradition</span></h2>
          <p class="lead">In Japanese, Robata means "by the fireside" and refers to the centuries-old country style cooking of northern Japanese fisherman. Evenings in coastal villages found fisherman cooking their catch over an open fire, then sharing among themselves by passing food on oars from boat to boat. Our menu honors the Robata tradition of sharing and sampling.  Appetizer-size portions allow you to feast on a variety of authenitc Robata dishes.  Delicious possiblities are limited only by the whims of your palate and size of your appetite.  We hope you'll enjoy this unique, free-style dining at Robata Grill.  The warm, friendly atmosphere of open flame cooking adds to any meal, anywhere in the world.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive"  alt="500x500" src="{{ url_for('static', filename='images/RiceToss4.3.jpg') }}">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" alt="500x500" src="{{ url_for('static', filename='images/Shinji.jpg') }}">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Head Chef <span class="text-danger">Shinji Kawasaki</span></h2>
          <p class="lead">Shinji was born and raised in Osaka, Japan, arguably the food capital of Japan. Working in restaurants at a very early age, he learned from some of the best chefs in the city.  After training for several years Shinji was promoted to Itamae (head sushi chef).  He was asked to travel to San Francisco to train prospects in the art of sushi making, a trade that was on the brink of expansion.  Shinji has been making sushi in Marin for over 20 years and 14 of them at Robata.  He is currently a part owner and lives with his wife and 2 daughters in Mill Valley. </p>
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">General Manager and Owner <span class="text-danger">Fred Obayashi</span></h2>
          <p class="lead">Born in Vancouver, B.C., Canada from a family of commercial salmon fisherman, Fred spent summers salmon fishing with his father along the British Columbia coast from Washington to Alaska.  Through his 20s Fred fished on his personal boat while working as a cook and bartender where he eventually became a manager.  He opened his first sushi bar in 1984 in Vancouver and shortly after a second restaurant in Toronto in 1985.  Fred moved to Marin in 1987 where he started as the General Manager of Robata, becoming partner in 1989.  Fred has been managing ever since and lives in Mill Valley with his wife while his daughter resides in New York.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" alt="500x500" src="{{ url_for('static', filename='images/Fred.png') }}">
        </div>

      </div>

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
{% endblock %}
