{% extends "base.html" %}

{% block title %}Robata Grill & Sushi{% endblock %}

{% block page_content %}



    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <address>
        <strong>Robata Grill & Sushi</strong><br>
        591 Redwood Hwy<br>
        Mill Valley, CA 94941<br>
        <span class="glyphicon glyphicon-phone-alt"></span> (123) 456-7890
      </address>
      <div class="carousel-inner">
        <div class="item active">
          <div class="slide1"></div>
<!--           <img alt="First slide" src="{{ url_for('static', filename='images/sushi1.jpg') }}"> -->
          <div class="container">
            <div class="carousel-caption">
              <h2>About Robata Grill & Sushi<br>
                <small>Donec ullamcorper nulla non metus auctor fringilla.</small>
              </h2>
            </div>
          </div>
        </div>
<!--         <div class="item">
          <img alt="Second slide" src="{{ url_for('static', filename='images/sushi2.jpg') }}">
          <div class="container">
            <div class="carousel-caption">
              <h2>Evenings in coastal villages found fishermen cooking their catch over an open fire, <br>
                <small>then sharing among themselves by passing food on oars from boat to boat.</small>
              </h2>
            </div>
          </div>
        </div> -->
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive"  alt="500x500" src="{{ url_for('static', filename='images/5001.jpg') }}">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" alt="500x500" src="{{ url_for('static', filename='images/5002.jpg') }}">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" alt="500x500" src="{{ url_for('static', filename='images/5002.jpg') }}">
        </div>

      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
{% endblock %}
