{% extends "base.html" %}

{% block title %}Robata Grill & Sushi{% endblock %}

{% block page_content %}

    <!-- Parallax
    ================================================== -->
  <div class="parallax-container">
    <div class="shadow"></div>
     <div class="img-holder" data-image="{{ url_for('static', filename='images/test7.jpg') }}" data-image-mobile="img/autumn_season-800x450.jpg" data-width="2000" data-height="1000"></div>
     <div class="container">
        <div class="carousel-caption">
          <h2>Kangei (welcome)<br>
            <small class="robataColor">Centuries old country style cooking</small>
          </h2>
        </div>
<!--         <address>
          591 Redwood Hwy Mill Valley, CA
          <span class="glyphicon glyphicon-phone-alt"></span> (415) 381-8400
        </address> -->
      </div>
  </div>
    <!-- /.parallax -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="marketing">

      <!-- Three columns of text below the carousel -->
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <img class="img-circle"  alt="140x140" src="{{ url_for('static', filename='images/heading1.jpg') }}" style="width: 140px; height: 140px;">
            <h2>Welcome to Robata</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="{{ url_for('static', filename='images/heading2.jpg') }}" style="width: 140px; height: 140px;">
            <h2>Menu</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="{{ url_for('static', filename='images/heading3.jpg') }}" style="width: 140px; height: 140px;">
            <h2>Hours & Directions</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">
        <div class="container">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Sushi is a very simple, unique <span class="text-muted">Japanese Cuisine</span></h2>
            <p class="lead">But there is no use trying to skimp - only genuine professional sushi can reach your heart. You will appreciate the excellence of the professional sushi chefs at Robata.  Enjoy fresh fish from the sea directly to your table.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive"  alt="500x500" src="{{ url_for('static', filename='images/test12.jpg') }}">
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

    <!-- Parallax
    ================================================== -->
  <div class="parallax-container">
    <div class="shadow"></div>
     <div class="img-holder" data-image="{{ url_for('static', filename='images/test2.jpg') }}" data-image-mobile="img/autumn_season-800x450.jpg" data-width="2000" data-height="1000"></div>
     <div class="container">
        <div class="carousel-caption">
          <h2>Kangei (welcome)<br>
            <small>Centuries old country style cooking</small>
          </h2>
        </div>
      </div>
  </div>
    <!-- /.parallax -->

      <hr class="featurette-divider">

      <div class="container">
        <div class="row featurette">
          <div class="col-md-5">
            <img class="featurette-image img-responsive" alt="500x500" src="{{ url_for('static', filename='images/test15.jpg') }}">
          </div>
          <div class="col-md-7">
            <h2 class="featurette-heading">History of <span class="text-muted">Sushi</span></h2>
            <p class="lead">Sushi is one of the healthiest meals around, originating back to the 4th century BC of Southeast Asia.  Salted fish fermented with rice was an important source of preservation. Japan popularized eating the fish with rice and sushi became more of a cuisine rather than a way to preserve food.Eventually rice was mixed with vinegar and combined with various vegetables and dried preserved foods.  Each region of Japan still preserves its own unique taste by utilizing local products that have been passed on for generations.</p>
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

    <!-- Parallax
    ================================================== -->
  <div class="parallax-container">
    <div class="shadow"></div>
     <div class="img-holder" data-image="{{ url_for('static', filename='images/test3.jpg') }}" data-image-mobile="img/autumn_season-800x450.jpg" data-width="2000" data-height="1000"></div>
     <div class="container">
        <div class="carousel-caption">
          <h2>Kangei (welcome)<br>
            <small>Centuries old country style cooking</small>
          </h2>
        </div>
      </div>
  </div>
    <!-- /.parallax -->

      <hr class="featurette-divider">

      <div class="container">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Hours and Directions<span class="text-muted"></span></h2>
            <p class="lead">Hours of Operation: Lunch Hours | Mon-Fri 11:30am-2pm
              Dinner Hours | Mon-Thurs 5:30pm-9:30pm | Fri and Sat 5:30pm-10pm | Sun 5pm-9pm</p>
          </div>
          <div class="col-md-5">
              <iframe width="100%" height="500" frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?q=591%20Redwood%20Hwy%2C%20Mill%20Valley%2C%20CA%2094941%2C%20United%20States&key=AIzaSyDOtabQ4Iq9dpdsWrT_2ufS60zZpFdRnnM"></iframe>
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
{% endblock %}
