{% extends "base.html" %}

{% block title %}Robata Grill & Sushi{% endblock %}

{% block page_content %}

    <!-- Parallax
    ================================================== -->
  <div class="parallax-container">
    <div class="shadow"></div>
     <div class="img-holder" data-image="{{ url_for('static', filename='images/test7.jpg') }}" data-image-mobile="{{ url_for('static', filename='images/test7.jpg') }}" data-width="2000" data-height="1000"></div>
     <div class="container">
        <div class="carousel-caption">
          <h2>Irashai Mase (welcome)<br>
            <small class="robataColor">Robata Grill & Sushi</small>
          </h2>
        </div>
<!--         <address>
          591 Redwood Hwy Mill Valley, CA
          <span class="glyphicon glyphicon-phone-alt"></span> (415) 381-8400
        </address> -->
      </div>
  </div>
    <!-- /.parallax -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="marketing">

      <!-- Three columns of text below the carousel -->
      <div class="container featurette">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <img class="img-square"  alt="140x140" src="{{ url_for('static', filename='images/flowers.jpg') }}" style="width: 200px; height: 200px;">
            <h2>Story of Robata</h2>
            <p>The tradition of centuries old country style coooking.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <img class="img-square" data-src="holder.js/140x140" alt="140x140" src="{{ url_for('static', filename='images/eel4.3.jpg') }}" style="width: 200px; height: 200px;">
            <h2>Menu</h2>
            <p>Simple and delicious sushi.  By the fireside cooking.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <img class="img-square" data-src="holder.js/140x140" alt="140x140" src="{{ url_for('static', filename='images/map.jpg') }}" style="width: 200px; height: 200px;">
            <h2>Hours & Directions</h2>
            <p>591 Redwood Hwy Mill Valley, CA</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>

      <!-- START THE FEATURETTES -->

        <!-- Parallax
        ================================================== -->
      <div class="parallax-container">
        <div class="shadow"></div>
         <div class="img-holder" data-image="{{ url_for('static', filename='images/oragami2.1.jpg') }}" data-image-mobile="{{ url_for('static', filename='images/oragami2.1.jpg') }}" data-width="2000" data-height="1000"></div>
         <div class="container">
            <div class="carousel-caption">
              <h2><br>
                <small class="robataColor"></small>
              </h2>
            </div>
          </div>
      </div>
        <!-- /.parallax -->

        <div class="container">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Authentic <span class="text-danger">Japanese Cuisine</span></h2>
            <p class="lead">Each region of Japan still preserves its own unique taste by utilizing local products that have been passed on for generations.  Only genuine professional sushi chefs can reach your heart. You will appreciate the excellence of the professional sushi chefs at Robata.  </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive"  alt="500x500" src="{{ url_for('static', filename='images/barrel.jpg') }}">
          </div>
        </div>
      </div>

        <!-- Parallax
        ================================================== -->
      <div class="parallax-container">
        <div class="shadow"></div>
         <div class="img-holder" data-image="{{ url_for('static', filename='images/eeltuna22.1.jpg') }}" data-image-mobile="{{ url_for('static', filename='images/eeltuna22.1.jpg') }}" data-width="2000" data-height="1000"></div>
         <div class="container">
            <div class="carousel-caption">
            <h2><br>
              <small class="robataColor"></small>
              </h2>
            </div>
          </div>
      </div>
        <!-- /.parallax -->

      <div class="container">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">History of <span class="text-danger">Sushi</span></h2>
            <p class="lead">Sushi is one of the healthiest meals around, originating back to the 4th century BC of Southeast Asia.  Salted fish fermented with rice was an important source of preservation. Japan popularized eating the fish with rice and sushi became more of a cuisine rather than a way to preserve food.Eventually rice was mixed with vinegar and combined with various vegetables and dried preserved foods.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive" alt="500x500" src="{{ url_for('static', filename='images/test15.jpg') }}">
          </div>
        </div>
      </div>

        <!-- Parallax
        ================================================== -->
      <div class="parallax-container">
        <div class="shadow"></div>
         <div class="img-holder" data-image="{{ url_for('static', filename='images/cutting2.1.jpg') }}" data-image-mobile="{{ url_for('static', filename='images/cutting2.1.jpg') }}" data-width="2000" data-height="1000"></div>
         <div class="container">
            <div class="carousel-caption">
            <h2><br>
              <small class="robataColor"></small>
              </h2>
            </div>
          </div>
      </div>
        <!-- /.parallax -->

      <div class="container">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Hours and <span class="text-danger">Directions</span></h2>
            <p class="lead">Lunch Hours | Mon-Fri 11:30am-2pm</p>
              <p class="lead">Dinner Hours | Mon-Thurs 5:30pm-9:30pm</p>
              <p class="lead">Fri and Sat 5:30pm-10pm | Sun 5pm-9pm</p>
          </div>
<!--           <div class="col-md-5">
              <iframe width="100%" height="500" frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?q=591%20Redwood%20Hwy%2C%20Mill%20Valley%2C%20CA%2094941%2C%20United%20States&key=AIzaSyDOtabQ4Iq9dpdsWrT_2ufS60zZpFdRnnM"></iframe>
          </div> -->
        </div>
      </div>



      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
{% endblock %}
