{% extends "base.html" %}

{% block title %}Robata Grill & Sushi{% endblock %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}

    <!-- Parallax
    ================================================== -->
  <div class="parallax-container">
    <a class="start" href="#start"><i class="fa fa-chevron-down fa-3x"></i></a>
     <div class="img-holder" data-image="{{ url_for('static', filename='images/test3.jpg') }}" data-image-mobile="{{ url_for('static', filename='images/test3-mobile.jpg') }}" data-width="2000" data-height="1000"></div>
        <div class="carousel-caption">
          <h2>Robata Grill & Sushi<br>
            <small class="robataColor">Wo Tanoshinde Kudasai (Enjoy)</small>
          </h2>
        </div>
  </div>
    <!-- /.parallax -->
    <div id="start"></div>
    <div class="menus container">
        <div class="row">
            <div class="col-md-10">
                <!-- Menu Tab panes -->
                <div class="tab-content">

                  {% include 'menu-sections/sushi.html' %}
                  {% include 'menu-sections/sashimi.html' %}
                  {% include 'menu-sections/entrees.html' %}
<!--                   {% include 'menu-sections/alacarte.html' %}
                  {% include 'menu-sections/beverages.html' %}
                  {% include 'menu-sections/desserts.html' %}
                  {% include 'menu-sections/lunch.html' %} -->


                </div><!-- /.menu tab panes -->
            </div>
            <!-- Menu Nav Affix -->
            <div class="col-md-2 menu-affix">
              <div data-spy="affix" data-offset-top="635" >
                <ul class="nav nav-pills nav-stacked">
                  <li class="active"><a href="#sushi" data-toggle="tab" data-scrollto="sushi"><strong>Sushi</strong></a></li>
                  <li><a href="#sashimi" data-toggle="tab" data-scrollto="sashimi"><strong>Sashimi</strong></a></li>
                  <li><a href="#entrees" data-toggle="tab" data-scrollto="entrees"><strong>Entrees</strong></a></li>
                  <li><a href="#alacarte" data-toggle="tab" data-scrollto="alacarte"><strong>A la Carte</strong></a></li>
                  <li><a href="#beverages" data-toggle="tab" data-scrollto="beverages"><strong>Beverages</strong></a></li>
                  <li><a href="#desserts" data-toggle="tab" data-scrollto="desserts"><strong>Desserts</strong></a></li>
                  <li><a href="#lunch" data-toggle="tab" data-scrollto="lunch"><strong>Lunch</strong></a></li>
                </ul>
              </div>
            </div><!-- /.Menu Nav Affix -->
      </div>
    </div>
{% endblock %}
